@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"
@inject IProductService ProductService
@implements IDisposable

<PageTitle>@Constants.CompanyName</PageTitle>

<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        @if (SearchText == null && CategoryUrl == null)
        {
            <FeatureProducts />
        }
        else
        {
            <ProductList />
        }
    </ChildContent>
    <ErrorContent>
        <p class="error-message">Uh oh! Something went wrong</p>
        <button class="btn btn-warning" @onclick="ResetError">Reset</button>
    </ErrorContent>
</ErrorBoundary>
